h1,p{
  display:inline;
}

header{
  display:flex;
  align-self: right;
  justify-content: center;
  padding-left: 21%;
  background: #151515;
  color: white;
  border-radius: 10px;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

div.db-status {
  text-align: right;
}

footer{
  text-align: center;
}

div.left-admin-menu {
  display: flex;
  width: 20%;
  justify-content: center;
  background: #151515;
  border-radius: 10px;
}

div.main-content {
  margin-left:20px;
  align-self: right;
  width: 80%;
}

div.left-admin-menu button{
  align-self: center;
  width: 200px;
  margin-top: 20px;
}

div.all-content {
  display:flex;
  margin-top:20px;
  height: 100%;
}

#nav{
  padding-top: 20px;
  border-radius: 10px;
  width: 100%;
}
#nav i{
  color: #0f9f0c;
}
#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav li {
  border-top: 1px solid #252525;
  border-bottom: 1px solid #000;
  display: inline-flex;
  width: 235px;
}
#nav li ul li a {
  font-size: 10px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav li a {
  padding: 1.1em 1.4em;
  background: #151515;
  color: #f9f9f9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-left: 0;
  padding-left: 10px;
}
#nav li a:hover {
  background: #222;
  color: #fff;
}
